@using Microsoft.AspNetCore.Components.Web
@using FeedItv2.Models
@using FeedItv2.Services
@inject JsonFileAnimalService AnimalService

<div class="card-columns">
    @foreach (var animal in AnimalService.GetAnimals())
    {
        <div class="card" id="myActiveCard" @onclick="(x => SelectedAnimal(animal.Id))">

            @if (@animal.Fat == 0)
            {
                <div class="card-img" style="background-image: url('@animal.ImageSmall');"></div>
            }
            else if (@animal.Fat == 1)
            {
                <div class="card-img" style="background-image: url('@animal.ImageMedium');"></div>
            }
            else
            {
                <div class="card-img" style="background-image: url('@animal.ImageLarge');"></div>
            }
            <div class="card-body">
                <h5 class="card-title">
                    Hello! My name is @animal.Name, I am @animal.Age years and I weigh @animal.Weight[animal.Fat] kg
                </h5>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    <button @onclick="(x => SelectedAnimal(animal.Id))"
                            data-toggle="modal" data-target="#productModal" class="btn btn-primary">
                        I want food!
                    </button>
                </small>
            </div>
        </div>
    }
</div>

@if (selectedAnimal != null)
{
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productTitle">@selectedAnimal.Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        @if (selectedAnimal.Fat == 0)
                        {
                            <div class="card-img" style="background-image: url('@selectedAnimal.ImageSmall');"></div>
                        }
                        else if (selectedAnimal.Fat == 1)
                        {
                            <div class="card-img" style="background-image: url('@selectedAnimal.ImageMedium');"></div>
                        }
                        else
                        {
                            <div class="card-img" style="background-image: url('@selectedAnimal.ImageLarge');"></div>
                        }
                        <div class="card-body">
                            <p class="card-text">I am @selectedAnimal.Weight[selectedAnimal.Fat] kg</p>
                            <p class="card-text">I am @selectedAnimal.Age years old</p>
                            <p class="card-text">I want food!! Will you give me food?</p>
                            <p class="card-text">Careful! If you push the button I'll gain a lot of weight!</p>
                        </div>

                        @if (selectedAnimal.Fat < 2)
                        {
                            <small class="text-muted">
                                <button @onclick="(x => AddsSomeWeight())"
                                        data-toggle="modal" data-target="#productModal" class="btn btn-primary">
                                    Feed me!!!
                                </button>
                            </small>
                        }
                        else
                        {
                            <h4 class="text">I reached my maximum weight!</h4>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
}

@code {
    Animal selectedAnimal;
    int selectedAnimalId;

    void SelectedAnimal(int animalId)
    {
        selectedAnimalId = animalId;
        selectedAnimal = AnimalService.GetAnimals().First(x => x.Id == animalId);
    }

    void AddsSomeWeight()
    {
        AnimalService.AddWeight(selectedAnimal.Id);
    }
}
